.grid-stack-item-removing {
    opacity: 0.2;
}

.page .grid-stack-item-content {
    cursor: grab;
    border-radius: 3px;
    transition: .2s;
    border: 2px solid transparent;
}

.page .grid-stack-item-content:active {
    cursor: grabbing
}

.page .grid-stack-item-content:hover {
    background-color: #eae9f1;
    border: 2px solid #8272e9;
}

/* 10 columns */

.gs-10>.grid-stack-item[gs-x="1"] {
    left: 10%
}

.gs-10>.grid-stack-item[gs-x="2"] {
    left: 20%
}

.gs-10>.grid-stack-item[gs-x="3"] {
    left: 30%
}

.gs-10>.grid-stack-item[gs-x="4"] {
    left: 40%
}

.gs-10>.grid-stack-item[gs-x="5"] {
    left: 50%
}

.gs-10>.grid-stack-item[gs-x="6"] {
    left: 60%
}

.gs-10>.grid-stack-item[gs-x="7"] {
    left: 70%
}

.gs-10>.grid-stack-item[gs-x="8"] {
    left: 80%
}

.gs-10>.grid-stack-item[gs-x="9"] {
    left: 90%
}

.gs-10>.grid-stack-item[gs-x="10"] {
    left: 100%
}

.gs-10>.grid-stack-item {
    width: 10%
}

.gs-10>.grid-stack-item[gs-w="10"] {
    width: 100%
}

.gs-10>.grid-stack-item[gs-w="9"] {
    width: 90%
}

.gs-10>.grid-stack-item[gs-w="8"] {
    width: 80%
}

.gs-10>.grid-stack-item[gs-w="7"] {
    width: 70%
}

.gs-10>.grid-stack-item[gs-w="6"] {
    width: 60%
}

.gs-10>.grid-stack-item[gs-w="5"] {
    width: 50%
}

.gs-10>.grid-stack-item[gs-w="4"] {
    width: 40%
}

.gs-10>.grid-stack-item[gs-w="3"] {
    width: 30%
}

.gs-10>.grid-stack-item[gs-w="2"] {
    width: 20%
}

.gs-10>.grid-stack-item[gs-w="1"] {
    width: 10%
}