@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

::-webkit-scrollbar-track {
    background-color: #d6d6d6d7;
}

::-webkit-scrollbar {
    width: 6px;
}

::-webkit-scrollbar-thumb {
    background: #a1a1a1;
    border-radius: 3px;
}

body {
    background: #333;
}

#editor {
    display: flex;
    min-width: 1170px;
    margin: 0 auto;
    height: 100vh;
}

.tools {
    background: #fff;
    width: 100px;
    height: 100%;
    padding: 20px 10px;
    border-right: 1px solid #ccc;
}

.tools .grid-stack-item {
    border-radius: 3px;
    transition: .2s;
}

.tools .grid-stack-item:hover {
    background: #ccccccb4;
}

.tools ul {
    list-style: none;
    position: relative;
    height: 100%;
}

.tools ul li svg {
    display: none;
    visibility: hidden;
}

.tools ul li svg:active {
    display: none;
    visibility: hidden;
}

.tools ul li {
    margin: 5px auto;
}

.tools ul .btn-trash {
    position: absolute;
    bottom: 10px;
    width: 100%;
    border: 2px dashed #fa5f5f;
    border-radius: 3px;
}

.tools ul .btn-trash i {
    cursor: auto;
    color: #fa5f5f;
}

.tools ul li button {
    background: #fff;
    width: 100%;
    border: 1px solid #eee9e9;
    border-radius: 5px;
    transition: .2s;
}

.tools ul li button:hover {
    background: #d4d1d19c;
}

.tools ul li i {
    cursor: grab;
    padding-top: 8px;
    display: block;
    height: 50px;
    text-align: center;
    font-size: xx-large;
    color: #686868;
}

.doc {
    overflow: auto;
    background: #e6e6ec;
    width: calc(100% - 100px);
    height: 100%;
    padding: 20px;
}

.doc .page {
    display: grid;
    background: #fff;
    border: 1px solid #ccc;
    padding: 20px;
    height: 1124;
    min-width: 840px;
    max-width: 840px;
    margin: 0 auto;
    -webkit-box-shadow: 9px 3px 28px -12px rgba(190, 191, 206, 1);
    -moz-box-shadow: 9px 3px 28px -12px rgba(190, 191, 206, 1);
    box-shadow: 9px 3px 28px -12px rgba(190, 191, 206, 1);
}

.doc .page .grid-stack-item i {
    display: none;
}

.doc .page .grid-stack-item .grid-stack-item-content {
    display: flex;
    align-items: center;
    justify-content: center;
}

.doc .page .grid-stack-item svg {
    width: 60%;
    height: 60%;
}

.doc .page .grid-stack-item img {
    width: 100%;
    height: 100%;
}

.properties {
    background: #fff;
    width: 300px;
    height: 100%;
    padding: 20px 10px;
}

.properties ul {
    position: relative;
    height: 100%;
    list-style: none;
}

.properties ul li div h3 {
    margin-bottom: 10px;
    text-align: center;
    font-size: medium;
    border-bottom: 1px solid #ccc;
}

.files-container {
    position: absolute;
    bottom: 0;
    width: 100%;
}

.files .save-file {
    display: flex;
    flex-direction: column;
}

.files .save-file select {
    height: 35px;
    padding: 0 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    outline: none;
}

.files .save-file select:focus {
    outline: 2px solid #8272e9;
}

.files .save-file button {
    height: 35px;
    border-radius: 5px;
    background: #8272e985;
    color: #fff;
    font-weight: 500;
    letter-spacing: 1px;
    border: 2px solid transparent;
    cursor: pointer;
}

.files .save-file button:hover {
    border: 2px solid #8272e9c0;
    color: #8272e9c0;
}

.files .save-file button:active {
    background: #8272e9;
    color: #fff;
}

.elem-img {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.elem-img img {
    width: 92px;
    height: 92px;
}

.title-h4 {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.title-h4 h4 {
    text-align: center;
}

.content-sp {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.content-sp span {
    text-align: center;
}